<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <title><%= content_for(:title) || "Project Cnab" %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body class="d-flex flex-column min-vh-100">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="/">Project CNAB</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </nav>

    <!-- Conteúdo Principal -->
    <main class="flex-grow-1">
      <div class="container py-4">
        <%= yield %>
      </div>
    </main>

    <!-- Rodapé Sticky -->
    <footer class="mt-auto bg-light text-white text-center py-3">
      <div class="container">
        <p class="text-muted mb-0">© 2025 Project CNAB by Igor Rocha.</p>
      </div>
    </footer>
  </body>
</html>
